.TodoSearch {
  background: var(--white);
  padding-left: 12px;
  margin: 0 30px;
  height: 50px;
  width: calc(100% - 60px);
  font-size: var(--md);
  text-align: left;
  font-weight: 400;
  color: var(--light-gray);
  border: none;
  border-radius: 10px;
}

.TodoSearch:focus {
  outline-color: var(--light-gray);
}

.TodoSearch-loading {
  margin-bottom: 50px;
}

.NotFoundMessage {
  padding: 30px;
}